<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script type="module" src="./vuetable.js"> </script>
<div id="app" class="ui vertical stripe segment">
    <div class="ui container">
        <div id="content" class="ui basic segment">
            <h3 class="ui header">List of Users</h3>
            <vuetable
                    api-url="http://localhost:3000/pmtopics/pmtopicslist"
                    table-wrapper="#content"
                    :fields="columns"
                    :item-actions="itemActions"
            ></vuetable>
        </div>
    </div>
</div>
</body>
</html>